
    <nav class="navbar navbar-expand-lg bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://i.imgur.com/v1kM2Pw.png" alt="Logo" width="200" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            
            <div>
            </div>
        </div>
    </nav>
    <hr class="mb-lg-5">
    

<body class="justify-content-center text-xl-center mt-5 ">
        <div class="container mb-5">
        <div class="row mb-5">
            <div>
                <h5 class="mb-5">Tem Certeza que deseja apagar esse usuario?</h5>
                <button class="botao btn text-center" (click)="apagar()">Apagar</button>
                <button class="botao2 btn ms-5 " routerLink="/verclientes">Cancelar</button>
            </div>
        </div>
        

    </div>
</body>
<footer class="bg-cor mt-5 footer">
    <div class="row">
        <div class="col-md-4 mt-5 text-center estilo">
            <p>Transformando demandas em <br>
                soluções, nossa plataforma <br>
                de chamados técnicos oferece<br>
                eficiência e excelência em cada
                <br>
                interação
            </p>
        </div>
        <div class="col-md-1">
            <div class="vertical-line mt-5 mb-3"></div>
        </div>
        <div class="col-md-3 mt-5 estilo">
            <h6>Contato</h6>
            <p> Email: coffedesck@gmail.com
                <br>
                Numero: 99 9999-9999
                <br>
                Endereço: <br>
                R. Manuel da Nóbrega, 986 - cjto 1122
                <br> - Paraíso, São Paulo - SP, 04001-003
            </p>
        </div>
        <div class="col-md-3 mt-5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.8290210047494!2d-46.65735152529391!3d-23.57458347879069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59ea735dfcf3%3A0xee7ef175148a9fe9!2sR.%20Manuel%20da%20N%C3%B3brega%2C%20986%20-%20Para%C3%ADso%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004001-003!5e0!3m2!1spt-BR!2sbr!4v1715147028176!5m2!1spt-BR!2sbr"
                width="256" height="160" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
    
</footer>


