<body class="bg">
    <nav class="navbar navbar-expand-lg bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://i.imgur.com/v1kM2Pw.png" alt="Logo" width="200" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link font" routerLink="/cadastro">Cadastre-se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font" routerLink="/login">Entre na sua conta</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex" role="search">
                <button onclick="window.location.href='#contato'" class="btn botao m-3 botaofonte">Entre em
                    contato</button>
            </form>
        </div>
    </nav>
    <hr class="mb-lg-5">

    <div class="container ">
        <div class="row">
            <div class="col estilo text-start mt-lg-5">
                <h1>Coffe Desck
                    <br>
                    Conectando.
                    <br>
                    Resolvendo.
                    <br>
                    Simplificando.
                </h1>

                <h4>Simplificando o suporte técnico,
                    nosso sistema<br> conecta usuários e técnicos em uma
                    jornada <br>de resolução de problemas sem complicações.</h4>
                <div class="mt-5">
                    <button class="btn botao botaofonte" routerLink="/cadastro">Cadastre-se</button>
                </div>
            </div>

            <div class="col estilo text-start mb-5">
                <img src="https://i.imgur.com/FAcrJbs.gif" alt="">
            </div>
        </div>
    </div>

    <div class="equipe">
        <div class="row text-center estilo">
            <h4>Equipe</h4>
        </div>
        <div class="row mt-5 ">
            <div class="col-sm-3">
                <div class="card margemcard" style="width: 18rem;">
                    <img src="https://i.imgur.com/nAYcNww.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="https://github.com/Nataly-Carvalho">
                                <i class="fa-brands fa-github m-1"></i></a>
                            <a href="https://www.linkedin.com/in/nataly-carvalho-silva/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            Nataly Carvalho
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card  margemcard" style="width: 18rem;">
                    <img src="https://i.imgur.com/WI99ZzU.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="https://github.com/jucrodrigues">
                                <i class="fa-brands fa-github m-1"></i></a>
                            <a href="https://www.linkedin.com/in/juliana-crodrigues/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            Juliana Rodrigues
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card margemcard" style="width: 18rem;">
                    <img src="https://i.imgur.com/X5x9Ken.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <p class="card-text">
                            <a href="https://github.com/laregn">
                                <i class="fa-brands fa-github m-1"></i></a>
                            <a href="https://www.linkedin.com/in/laysregn/"><i class="fa-brands fa-linkedin"></i></a>
                            Lays Souza
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 ms-5">
                <div class="card ms-5 mt-4 " style="width: 18rem;">
                    <img src="https://i.imgur.com/7nZB7MD.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="https://github.com/BiancalBarreto">
                                <i class="fa-brands fa-github m-1"></i></a>
                            <a href="https://www.linkedin.com/in/biancaleandrobarreto/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            Bianca Barreto
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card ms-5  mt-4" style="width: 18rem;">
                    <img src="https://i.imgur.com/Mxwepm3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="https://github.com/Gracielle-Pereira">
                                <i class="fa-brands fa-github m-1"></i></a>
                            <a href="https://www.linkedin.com/in/gracielle-pereira/"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            Gracielle Pereira
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


        <div class="container mt-5 m-5" id="contato">
            <div class="row justify-content-center">
                <div class="card border-dark m-5" style="max-width: 27rem; ">
                    <div class="mb-3 mt-2 text-center">Como podemos ajudar?</div>
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" id="floatingText" placeholder="Seu nome">
                        <label for="floatingInput">Nome</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mt-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Mensagem</label>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4 m-3">
                        <button class="btn botao" type="button">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
  

    <footer class="bg-cor">
        <div class="row">
            <div class="col-md-4 mt-5 text-center estilo">
                <p>Transformando demandas em <br>
                    soluções, nossa plataforma <br>
                    de chamados técnicos oferece<br>
                    eficiência e excelência em cada
                    <br>
                    interação
                </p>
            </div>
            <div class="col-md-1">
                <div class="vertical-line mt-5 mb-3"></div>
            </div>
            <div class="col-md-3 mt-5 estilo">
                <h6>Contato</h6>
                <p> Email: coffedesck@gmail.com
                    <br>
                    Numero: 99 9999-9999
                    <br>
                    Endereço: <br>
                    R. Manuel da Nóbrega, 986 - cjto 1122
                    <br> - Paraíso, São Paulo - SP, 04001-003
                </p>
            </div>
            <div class="col-md-3 mt-5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.8290210047494!2d-46.65735152529391!3d-23.57458347879069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59ea735dfcf3%3A0xee7ef175148a9fe9!2sR.%20Manuel%20da%20N%C3%B3brega%2C%20986%20-%20Para%C3%ADso%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004001-003!5e0!3m2!1spt-BR!2sbr!4v1715147028176!5m2!1spt-BR!2sbr"
                    width="256" height="160" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
        <div class="footer-copyright bg-dark text-center">
            <span class="text-light"> © 2024 Copyright </span>
        </div>
    </footer>